{% extends 'homepage.html.twig' %}

{% block title %}Musique{% endblock %}

{% block body %}
    <h1>Musique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ musique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ musique.Nom }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ musique.Genre }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ musique.dateSortie ? musique.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_musique_index') }}">back to list</a>

    <a href="{{ path('app_musique_edit', {'id': musique.id}) }}">edit</a>

    {{ include('musique/_delete_form.html.twig') }}
{% endblock %}
